/*  YOU DON'T NEED TO TOUCH THIS FILE */
@import url('https://fonts.googleapis.com/css?family=Dosis:wght@200&family=Roboto:wght@400&display=swap');

body {
  font-family: "Dosis", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  padding: 10px;
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  margin: 15px 30px;
  
}

.logo {
  max-height: 3rem;
}

#name {
  color: red;
}

.purple {
  color: #750ff7;
}

button:focus {
  outline: none;
}

/************************************
*************Modify by emilie********
**************************************/
.main{
  text-align: center;
}
.introduction h1, .introduction p
  {
    text-align: center;   
  }
  .introduction
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .introduction div
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .introduction #photoCV{
    border-radius: 50%;
    max-width: 200px;
    box-shadow: 0 0 30px rgba(233, 240, 243, 0.5);
  }
  .skills
  {
    display:flex;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .disabled
  {
    opacity: 0.5;
  }


@media screen and (min-width:700px){
  .navbar 
  {
    justify-content: space-between;
  }
  
  .projects .contents
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .skills
  {
    flex-direction: row-reverse;
    
  }
  .heading
  {
    text-align: center;
  }
}

@media screen and (max-width:700px)
{
  #desktop
  {
    display: none;
  }
  
}